<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87333472651-pol9e8q4uoucpjplmmgkjmsfqu7g52pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87333472651-pol9e8q4uoucpjplmmgkjmsfqu7g52pe</string>
	<key>API_KEY</key>
	<string>AIzaSyDF6tWtpWm7Vd9Id3pQoV7LpRkFWsSHb-c</string>
	<key>GCM_SENDER_ID</key>
	<string>87333472651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>name.lylagoldman.PennyPal</string>
	<key>PROJECT_ID</key>
	<string>pennypal0</string>
	<key>STORAGE_BUCKET</key>
	<string>pennypal0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87333472651:ios:0b7f55073e811a31cb078e</string>
</dict>
</plist>